/node_modules
.env
./client/client.zip
client.zip
./client.zip
/src/main/resources/tickets-images/compressed/*
/src/main/resources/tickets-images/*
/downloads/*
/client/*
client/*
server.js
/server.js
./server.js
prod.env
./prod.env
newrelic_agent.log
./newrelic_agent.log
