/node_modules
.env
# Coringa = **/ vai ignorar o arquivo/diretorio em qualquer local do projeto
# caso não esteja ignorando, remova do cach para poder aplicar o ignore ex: git rm --cached newrelic_agent.log
**/newrelic_agent.log
prod.env
./prod.env
./client/client.zip
client.zip
./client.zip
/src/main/resources/tickets-images/compressed/*
/src/main/resources/tickets-images/*
/src/main/resources/contract-images/*
/src/main/resources/contract-images/compressed/*
/src/main/resources/guild-logos/*
/src/main/resources/guild-logos/compressed/*
/src/main/resources/contract-paymentProof-images/*
/src/main/resources/contract-paymentProof-images/compressed/*


/downloads/*
/client/*
client/*


